html {
  font-family: Montserrat, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  background-color: black;
  color: white;
  font-family: 'Bodoni Moda', serif;
  font-style:italic;
  text-align: center;
  font-size: 50px;
}

#movieContainer {
  display: flex;
  justify-content: space-around;
}

#movieList {
  max-width: 50%;
}

#tabs {
  padding: 10px;
  font-size: 150%;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-variant: small-caps;
  padding-right: 15px;
}

#movieDetails {
  width: 50%;
  padding: 10px;
}

#footContent {
  color: aliceblue;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

#pagination {
  margin-top: 50px;
  margin-left: 30%;
}

.tabLink {
  color: black;
  text-decoration: none;
}

.tabLink:hover {
  background-color: black;
  border-radius: 5px;
  color: white;
}
.trashLink:hover{
color: red;
border-radius: 5px;
}

.content-container {
  min-height: calc(100vh - 34px);
}

footer {
  width: auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

