
.title {
  background-color: black;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.tabs {
  background-color: green;
  padding: 10px;
  font-size: 400%;
}
.moviesTab {
  color:aqua;
}
.featuredTab {
  color: aqua ;
}
.hiddenGemsTab{
  color: aqua;
}
.profileTab{
  color: aqua;
}
.footer--pin {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
.content-container {
  min-height: calc(100vh - 34px);
}
footer {
  background-color: black;
  padding: 5px 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  background-color: #950707;
  border-radius: 30px;
  width: 65px;
  height: 10px;
}

footer p {
  color: #e3c893;
  font-family: Montserrat, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  text-align: center;
}

footer ul li {
  background-color: #950707;
  border-radius: 30px;
  width: 15px;
  height: 15px;
}