body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a,
.tabLink,
#gitLabLink {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: auto;
  border-radius: 15px;
  background-color: #f0f3f7;
  padding-top: 20px;
  padding-bottom: 10px;
}

#brandIcon {
  background-color: white;
  text-align: center;
  font-variant: small-caps;
  width: 200px;
}

#contributorButton,
#movieContainer {
  display: flex;
  justify-content: space-around;
}

#gitLabLink:hover {
  color: orange;
}

#mainContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#mainPageContainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

#movieDetails {
  display: flex;
  padding: 10px;
}

#movieList {
  max-width: 50%;
}

#movieText {
  padding: 10px;
  margin: 5px;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#searchNav {
  justify-content: center;
}

#searchNav>div {
  cursor: pointer;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  font-size: 60px;
}

.movieGrid {
  margin: 10px;
  background-color: #f0f3f5;
  border-radius: 15px;
}

.tabs,
#searchNav {
  font-size: 150%;
  padding: 5px;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-variant: small-caps;
}

.tabLink:hover {
  color: yellow;
  background-color: black;
  opacity: 1;
  border-radius: 5px;
  transition: 0.3s;
}

.reviewLink:hover {
  color: yellow;
  background-color: black;
  opacity: 1;
  border-radius: 5px;
  transition: 0.3s;
}

.title {
  background-color: black;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  font-size: 50px;
}

.trashLink:hover {
  color: red;
}

.underHover:hover,
.footSection>a:hover {
  text-decoration: underline;
}